.us-btn {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
	border: 2px solid #fff;
	border-radius: 3px;
	padding: 0 15px;
	text-decoration: none;
	text-transform: uppercase;
}