.main-footer {
	height: 140px;
	line-height: 140px;
	font-size: 12px;
	color: #333333;

	a {
		color: inherit;
	}

	.left-side {
		.lang-links {
			float: right;
		}

		.lang-links {
			a {
				margin-left: 20px;
			}
		}
	}

	.right-side {
		float: right;

		a {
			margin-left: 20px;
		}
	}

	&.footer-white {
		color: #fff;
	}
}