.main-header {
	position: relative;
	height: 140px;
	line-height: 140px;

	.logo {
		font-family: 'futurademicregular';
		display: inline-block;
		vertical-align: middle;
		color: #64cdaf;
		font-size: 30px;
		text-decoration: none;
		text-transform: uppercase;
	}

	.main-nav {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		float: right;
		left: 15px;

		ul {
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;

			&:first-child {
				margin-left: 0;
			}
		}

		a {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			color: #3a3a3a;
			font-size: 12px;
			font-weight: 300;
			text-transform: uppercase;
			text-decoration: none;
			padding: 0 15px;
			height: 30px;
			line-height: 30px;

			&:hover, &.active {
				&:before {
					border-color: #fff;
					transform: translateY(0);
				}
			}

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 3px;
				border: 2px solid transparent;
				transform: translateY(10%);
				transition: all .2s ease;
			}
		}
	}

	&.header-white {
		position: absolute;
		width: 100%;
		z-index: 100;

		.logo {
			color: #fff;
		}

		.main-nav {
			a {
				color: #fff;

				&:hover, &.active {
					border-color: #fff;
				}
			}
		}
	}
}