extends layout

block vars
  - var header_class = 'header-white'

block content
  .support
    .top-caption
      .bar
      .teaser.
        <p>Digital-продакшн агентство, Ростов-на-Дону.<br>
        Используя аналитический подход<br>
        и нестандартные решения, мы эффективно решаем<br>
        задачи наших клиентов.</p>
  .block.white.col-2
    .wrapper
      .row
        .col 
          .p.
            Эффективный рабочий процесс предполагает полное взаимопонимание.
            Мы стремимся собирать вокруг себя людей, которые вдохновляют друг друга каждый день.
            Каждый из нас готов учить других и учиться сам, давать честную оценку своей деятельности
            и брать на себя личную ответственность. Мы убеждены, что такой подход — залог качественной работы.
        .col
          .p.
            Сотрудники нашего агентства стремятся понять желания каждого клиента и воплотить их максимально эффективно.
            Проблемы клиента мы воспринимаем, как свои собственные, и предлагаем наиболее оптимальное решение.
            Мы всегда стремимся сделать больше, чем требуется, и открыто говорим о своих сомнениях,
            чтобы уверенно двигаться вперед.
        .clrfx
  .block.grey.col-2.bordered
    .wrapper
      h2 Поддержка и сопровождение
      p.sub-header Существуют различные типы поддержки, которые мы готовы вам предложить.
      .row
  