footer(class="#{footer_class}").main-footer
  .wrapper
    .right-side
        a(href="mailto:be.digital@grapheme.ru") be.digital@grapheme.ru
        a(href="https://www.facebook.com/grapheme.ru" target="_blank") facebook
        a #grapheme_ru
    .left-side
      span Digital-агентство ГРАФЕМА, 2015
      span.lang-links
        a(href="#") RU
        a(href="#") EN