header(class="#{header_class}").main-header
  .wrapper
    a(href="#").logo Графема
    nav.main-nav
      ul
        li
          a(href="#") Агентство
        li
          a(href="#") Работы
        li
          a(href="support.html") Поддержка
        li
          a(href="#") SEO
        li
          a(href="#") SMM
        li
          a(href="#") Контакты