header(class="#{header_class}").main-header
  .wrapper
    a(href="/").logo Графема
    nav.main-nav
      ul
        li
          a(href="about.html") Агентство
        li
          a(href="portfolio.html") Работы
        li
          a(href="support.html") Поддержка
        li
          a(href="seo.html") SEO
        li
          a(href="smm.html") SMM
        li
          a(href="#", class="js-contacts") Контакты