extends layout

block content
	main
		ul.portfolio-list.clearfix
			li.portfolio-item
				.portfolio-item-cont
					.portfolio-pict(style="background-image: url(../images/portfolio/tcafe.jpg);")
					.portfolio-desc
						h2 Infinity
						.desc Роскошь во всех измерениях
						a.proj-link(href="#", data-text="Посмотреть проект")
							Посмотреть проект

			li.portfolio-item
				.portfolio-item-cont
					.portfolio-pict(style="background-image: url(../images/portfolio/zaycevo.jpg);")
					.portfolio-desc
						h2 St.Tropez
						.desc Новый формат отдыха
						a.proj-link(href="#", data-text="Посмотреть проект")
							Посмотреть проект

			li.portfolio-item
				.portfolio-item-cont
					.portfolio-pict(style="background-image: url(../images/portfolio/tcafe.jpg);")
					.portfolio-desc
						h2 Даховская слобода
						.desc Отдых в Адыгее
						a.proj-link(href="#", data-text="Посмотреть проект")
							Посмотреть проект

			li.portfolio-item
				.portfolio-item-cont
					.portfolio-pict(style="background-image: url(../images/portfolio/zaycevo.jpg);")
					.portfolio-desc
						h2 People-around.ru
						.desc Создавать события — наша работа
						a.proj-link(href="#", data-text="Посмотреть проект")
							Посмотреть проект

			li.portfolio-item
				.portfolio-item-cont
					.portfolio-pict(style="background-image: url(../images/portfolio/tcafe.jpg);")
					.portfolio-desc
						h2 Солнечный
						.desc Семейный загородный клуб
						a.proj-link(href="#", data-text="Посмотреть проект")
							Посмотреть проект

			li.portfolio-item
				.portfolio-item-cont
					.portfolio-pict(style="background-image: url(../images/portfolio/zaycevo.jpg);")
					.portfolio-desc
						h2 QoobRoom
						.desc Живые стены у вас дома
						a.proj-link(href="#", data-text="Посмотреть проект")
							Посмотреть проект

			li.portfolio-item
				.portfolio-item-cont
					.portfolio-pict(style="background-image: url(../images/portfolio/tcafe.jpg);")
					.portfolio-desc
						h2 Wokit.ru
						.desc Азиатская еда с удобной заставкой
						a.proj-link(href="#", data-text="Посмотреть проект")
							Посмотреть проект

			li.portfolio-item
				.portfolio-item-cont
					.portfolio-pict(style="background-image: url(../images/portfolio/zaycevo.jpg);")
					.portfolio-desc
						h2 Швейная лавка
						.desc Услуги по ремонту одежды
						a.proj-link(href="#", data-text="Посмотреть проект")
							Посмотреть проект