extends layout

block vars
  - var header_class = 'header-white'

block content
  .support
    .top-caption
      .bar
      .teaser.
        <p>Сайты тоже нуждаются в&nbsp;постоянных изменениях,
        развитии и&nbsp;уходе. С&nbsp;нами ваши сайты будут
        чувствовать себя в&nbsp;полной безопасности.</p>
  .block.white.col-2
    .wrapper
      .row
        .col 
          .p.
            Рано или поздно любой, даже самый продуманный, сайт необходимо обновлять
            и&nbsp;развивать. Пока вы&nbsp;наслаждаетесь его безупречным внешним видом,
            содержание сайта и&nbsp;его техническая платформа устаревают.
        .col
          .p.
            Поддержка и&nbsp;сопровождение сайта призваны обеспечить
            его стабильную работу за&nbsp;счет своевременной диагностики
            и&nbsp;внесения изменений.
        .clrfx
  .block.grey.col-2.bordered
    .wrapper
      h2 Поддержка и сопровождение
      p.sub-header Существуют различные типы поддержки, которые мы готовы вам предложить.
      .row 
        