html, body {
	height: 100%;
}
.main-screen {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #ccc;
	color: #fff;

	.info-layer,
	.gradient-layer,
	.gradient-layer > .gradient-item,
	.images-layer,
	.images-layer > .item,
	.text-layer,
	.text-layer > .item {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		overflow: hidden;
	}

	.text-layer {
		z-index: 1;

		.item {
			right: 5%;
			background-repeat: no-repeat;
			background-position: right center;
			opacity: 0;
			transition: opacity 4s ease;

			&.active {
				opacity: 1;
			}
		}

		.item-1 {
			background-image: url('../images/text-layer/text1.png');
		}

		.item-2 {
			background-image: url('../images/text-layer/text2.png');
		}

		.item-3 {
			background-image: url('../images/text-layer/text3.png');
		}

		.item-4 {
			background-image: url('../images/text-layer/text4.png');
		}

		.item-5 {
			background-image: url('../images/text-layer/text5.png');
		}
	}

	.images-layer {
		z-index: 2;

		.item {
			background-repeat: no-repeat;
			background-position: 10% center;
			opacity: 0;
			transition: opacity 2.5s ease;

			&.active {
				opacity: 1;
			}
		}

		.item-1 {
			background-image: url('../images/images-layer/image1.png');
		}

		.item-2 {
			background-image: url('../images/images-layer/image2.png');
		}

		.item-3 {
			background-image: url('../images/images-layer/image3.png');
		}

		.item-4 {
			background-image: url('../images/images-layer/image4.png');
			background-position: 20% center;
		}

		.item-5 {
			background-image: url('../images/images-layer/image5.png');
		}
	}

	.gradient-layer {
		z-index: 3;
		opacity: .8;

		.gradient-item {
			@include linear-gradient(0deg, #37bdac, #3badbf, #c926ff, #ff4d4d, #6368bd, #3badbf, #6368bd, #74009b);
			background-size: 1000% 1000%;
			-webkit-animation: gradAnimation 80s linear infinite;
			-moz-animation: gradAnimation 80s linear infinite;
			-o-animation: gradAnimation 80s linear infinite;
			animation: gradAnimation 80s linear infinite;
		}
	}

	.info-layer {
		z-index: 4;

		a {
			color: inherit;
			text-decoration: none;
		}

		.main-abs-info {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			box-sizing: border-box;
			padding-bottom: 140px;

			.wrapper {
				position: relative;
				height: 100%;
			}		
		}

		.main-info {
			position: absolute;
			bottom: 30px;
			max-width: 620px;

			.title {
				font-weight: 900;
				font-size: 46px;
			}

			.desc {
				line-height: 1.4;
				margin-top: 10px;
			}

			.btn-cont {
				margin-top: 25px;
			}

			.us-btn {
				position: relative;
				overflow: hidden;
				height: 55px;
				line-height: 55px;
				padding: 0 35px;
				transition: color .2s ease;

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: #fff;
					z-index: -1;
					transform: translateX(-100%);
					transition: all .2s ease;
				}

				&:hover {
					color: #444;

					&:before {
						transform: translateY(0);
					}
				}
			}
		}

		.main-footer, .main-header {
			z-index: 2;
		}

		.main-footer {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
		
}