.portfolio-list {
	margin: 0;
	padding: 0;
	list-style: none;

	.portfolio-item {
		position: relative;
		float: left;
		width: 25%;
		padding-top: 33.325%;
	}
	.portfolio-item-cont {
		@include position(absolute, 0px 0px 0px 0px);
		background: #666;
		overflow: hidden;

		&:hover {
			.portfolio-pict {
				transform: scale(1);
			}
			.proj-link {
				transform: translate(0, 0) scale(1);
			}
			/* .desc {
				opacity: 1;
				transform: scale(1);
			} */
		}
	}
	.portfolio-pict {
		@include position(absolute, 0px 0px 0px 0px);
		transition: all .4s ease;
		transform: scale(1.1);
		z-index: 0;
		background-position: center center;
		background-size: cover;
	}
	.portfolio-desc {
		overflow: hidden;
		position: relative;
		z-index: 1;
		height: 100%;
		padding: 40px 25px 0;
		color: #fff;

		box-sizing: border-box;

		h2 {
			margin: 0;
			font-size: 18px;
			line-height: 25px;
			font-weight: 500;
			text-transform: uppercase;
			cursor: default;
			margin-bottom: 15px;
		}
		.desc {
			//opacity: 0;
			//transform: scale(.8);
			//transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
			height: 100%;
			font-size: 40px;
			line-height: 48px;
			text-transform: uppercase;
			cursor: default;
		}
		.proj-link {
			@extend .hover-btn;
			position: absolute;
			bottom: 40px;
			left: 31px;
			transform: translate(0, 100px) scale(.7);

			&:after {
				z-index: -1;
			}
		}
	}

}