extends layout

block vars
  - var header_class = 'header-white'
  - var page_class = 'about-page'

block content
  .support
    .top-caption
      .bar
      .teaser.wow.fadeInUp.
        <p>Digital-продакшн агентство, Ростов-на-Дону.<br>
        Используя аналитический подход<br>
        и нестандартные решения, мы эффективно решаем<br>
        задачи наших клиентов.</p>

  .block.white.col-2
      .wrapper
        .row
          .unit.wow.fadeInUp(data-wow-delay='0.25s')
            .p.
              Эффективный рабочий процесс предполагает полное взаимопонимание.
              Мы стремимся собирать вокруг себя людей, которые вдохновляют друг друга каждый день.
              Каждый из нас готов учить других и учиться сам, давать честную оценку своей деятельности
              и брать на себя личную ответственность. Мы убеждены, что такой подход — залог качественной работы.
          .unit.wow.fadeInUp(data-wow-delay='0.5s')
            .p.
              Сотрудники нашего агентства стремятся понять желания каждого клиента и воплотить их максимально эффективно.
              Проблемы клиента мы воспринимаем, как свои собственные, и предлагаем наиболее оптимальное решение.
              Мы всегда стремимся сделать больше, чем требуется, и открыто говорим о своих сомнениях,
              чтобы уверенно двигаться вперед.
          .clrfx

  .block.grey.col-3.bordered.about
    .wrapper
      h2.wow.fadeInUp Как мы обеспечиваем поддержку и развитие
      .row
        .unit.wow.fadeInUp
          h3 Веб-сайты и мобильные приложения
          p.
            Наша цель - внедрение наиболее оптимальных решений для дизайна,
            интерфейса и юхабилити сайтов, порталов и мобильных приложений.
        .unit.wow.fadeInUp(data-wow-delay='0.15s')
          h3 Развитие бизнеса в социальных медиа
          p.
            Работа с социальными медиа – ключевая часть любой рекламной кампании.
            Мы помогаем повысить лояльность к бренду, эффективно проинформировать
            ЦА и расширить присутствие бренда в сетию.
        .unit.wow.fadeInUp(data-wow-delay='0.3s')
          h3 SEO-оптимизация и Интернет-маркетинг
          p.
            Решаем комплексные задачи, помогающие продвижению бизнеса в онлайн-среде.
            Проводим анализ ситуации, разрабатываем стратегию продвижением и обеспечиваем
            поддержку сайтов.

  .block.prods-wrapper
    .wrapper.prod
      ul.row.prods-ul.clearfix
        li.prods-li.unit.wow.fadeInUp
          .prod-li-pict.sites.wow.zoomIn
          .prod-li-cont
            h4.prod-li-name.wow.fadeInDown(data-wow-delay=".2s") Веб-сайты
            .prod-li-desc Осуществляем разработку веб-сайтов, интерактивных платформ и интранет- систем.

        li.prods-li.unit.wow.fadeInUp
          .prod-li-pict.mapps.wow.zoomIn
          .prod-li-cont
            h4.prod-li-name.wow.fadeInDown(data-wow-delay=".2s") Мобильные приложения
            .prod-li-desc Проектируем, разрабатываем и продвигаем мобильные приложения под платформыiOS и Android.

        li.prods-li.unit.wow.fadeInUp
          .prod-li-pict.seo.wow.zoomIn
          .prod-li-cont
            h4.prod-li-name.wow.fadeInDown(data-wow-delay=".2s") SEO-оптимизация
            .prod-li-desc Помогаем оптимизировать работу сайта и увеличить трафик. Анализ, оптимизация работы сайта, разработка стратегии SEO и поддержка на более поздних этапах ее функционирования.

        li.prods-li.unit.wow.fadeInUp
          .prod-li-pict.smm.wow.zoomIn
          .prod-li-cont
            h4.prod-li-name.wow.fadeInDown(data-wow-delay=".2s") SMM
            .prod-li-desc Повышаем лояльность целевой аудитории в социальных медиа. Изучаем позиционирование историю развития бренда и поддерживаем SMM-стратегию с помощью широкого арсенала средств.

        li.prods-li.unit.wow.fadeInUp
          .prod-li-pict.ux.wow.zoomIn
          .prod-li-cont
            h4.prod-li-name.wow.fadeInDown(data-wow-delay=".2s") UX-проектирование
            .prod-li-desc Разработка интерфейсов и оптимизация пользовательского взаимодействия с системой, оптимизация и структурирование компонентов.

        li.prods-li.unit.wow.fadeInUp
          .prod-li-pict.supp.wow.zoomIn
          .prod-li-cont
            h4.prod-li-name.wow.fadeInDown(data-wow-delay=".2s") Поддержка и сопровождение
            .prod-li-desc Оказываем комплексную поддержку сайтов и ecommercя систем. Техническая, контентная и аналитическая поддержка.

        li.prods-li.unit.wow.fadeInUp
          .prod-li-pict.ecomm.wow.zoomIn
          .prod-li-cont
            h4.prod-li-name.wow.fadeInDown(data-wow-delay=".2s") E-commerce
            .prod-li-desc Оптимизируем и корректируем работу сайтов, направленных на онлайн продажу товаров и услуг.

        li.prods-li.unit.wow.fadeInUp
          .prod-li-pict.emailm.wow.zoomIn
          .prod-li-cont
            h4.prod-li-name.wow.fadeInDown(data-wow-delay=".2s") Email маркетинг
            .prod-li-desc Осуществляем продвижение бренда и его товаров посредством электронной почты на основе исследований ЦА.

        li.prods-li.unit.wow.fadeInUp
          .prod-li-pict.brand.wow.zoomIn
          .prod-li-cont
            h4.prod-li-name.wow.fadeInDown(data-wow-delay=".2s") Брендинг
            .prod-li-desc Создаем и продвигаем бренды в Интернете, разрабатывая нейминг, фирменный стиль и айдентику.

        li.prods-li.unit.wow.fadeInUp
          .prod-li-pict.creative.wow.zoomIn
          .prod-li-cont
            h4.prod-li-name.wow.fadeInDown(data-wow-delay=".2s") Стратегия и креатив
            .prod-li-desc Изучаем медиа-пространство и планируем решение бизнес задач в Digital среде. Разработка комплексной стратегии онлайн-присутствия.

  .block.white.col-2
      .wrapper.partners
        h2.wow.fadeInUp Наши партнеры
        .row
          .unit.wow.fadeInUp(data-wow-delay='0.25s')
            .p.
              Мы гордимся нашими партнерами и проектами, которые удалось реализовать вместе.
            .p.
              Мы всегда открыты к сотрудничеству с другими агентствами и охотно выслушаем все предложения по совместным проектам.
          .unit.wow.fadeInUp(data-wow-delay='0.5s')
            ul.partners-ul
              li.partners-li.red-keds.wow.fadeInUp(data-wow-delay='.5s')
                a(href="#")
                  img(src="images/partners/01.png")

              li.partners-li.pichesky.wow.fadeInUp(data-wow-delay='.75s')
                a(href="#")
                  img(src="images/partners/02.png")

              li.partners-li.func.wow.fadeInUp(data-wow-delay='1s')
                a(href="#")
                  img(src="images/partners/03.png")
          .clrfx

  .block.grey.col-3.bordered.clients
    .wrapper.wow.fadeInUp
      h2 Наши клиенты
      ul.row.clients-ul.clearfix
        li.clients-li.infinity.wow.fadeIn(data-wow-delay=".2s")
        li.clients-li.unilever.wow.fadeIn(data-wow-delay=".4s")
        li.clients-li.rutech.wow.fadeIn(data-wow-delay=".6s")
        li.clients-li.upc.wow.fadeIn(data-wow-delay=".2s")
        li.clients-li.arredamenti.wow.fadeIn(data-wow-delay=".4s")
        li.clients-li.ciml.wow.fadeIn(data-wow-delay=".6s")