.block-contacts
  .contacts-wrapper.clearfix    
    .address
      address 344006, Ростов-на-Дону, ул. Суворова 52а, офис 304
      a(href="#" class="map-link") Как добраться?
    .phone
      a(href="tel:+78632041941", class="tel-link") (863) 204-19-41
      a(href="tel:+79094281234", class="tel-link") +7 (909) 428-12-34
    .mail
      a(href="mailto:be.digital@grapheme.ru", class="mail-link") be.digital@grapheme.ru
    .contacts-cross
      .contacts-cross-inner ✕
