header(class="#{header_class}").main-header
  .wrapper
    a(href="/").logo Графема
    nav.main-nav
      ul
        li
          a(href="about.html", class="animsition-link") Агентство
        li
          a(href="portfolio.html", class="animsition-link") Работы
        li
          a(href="support.html", class="animsition-link") Поддержка
        li
          a(href="seo.html", class="animsition-link") SEO
        li
          a(href="smm.html", class="animsition-link") SMM
        li
          a(href="#show-contacts") Контакты