extends layout

block vars
  - var header_class = 'header-white'

block content
  .seo
    .top-caption
      .bar
      .teaser.
        <p>Ваш сайт должен продавать и&nbsp;приносить прибыль.<br />
        Мы&nbsp;знаем, как заставить его делать это.</p>
    
    .block.white.col-3
      .wrapper
        h2 Каких результатов ждать от SEO
        p.sub-header Используя комплексный подход и&nbsp;инструменты <nobr>веб-аналитики</nobr>, мы&nbsp;увеличим посещаемость <br>сайта и&nbsp;обеспечим рост продаж в&nbsp;вашей компании.
        .row
          .unit
            h3 Повышение конверсии
            p.
              Увеличиваем рост числа заявок, звонков и&nbsp;обращений при том&nbsp;же рекламном бюджете.
          .unit
            h3 Привлечение посетителей
            p.
              Мы&nbsp;можем привлечь на&nbsp;ваш сайт качественную аудиторию
              по&nbsp;минимальной стоимости за&nbsp;1 посетителя.
          .unit
            h3 Улучшение работы сайта и отдела продаж
            p.
              Анализ поможет обнаружить функциональные проблемы вашего сайта,
              следствием которых является низкая конверсия при высоком количестве посещений.
          
    .block.grey.col-2.bordered
      .wrapper
        h2 Почему стоит заказывать SEO у нас
        .row 
          .unit
            h3 Думаем
            p.
              В&nbsp;первую очередь мы&nbsp;проводим анализ состояния
              сайта и&nbsp;оцениваем влияние на&nbsp;него внутренних
              и&nbsp;внешних факторов. Нам важно понять, действительно&nbsp;ли
              сайту требуется данный инструмент. Если мы&nbsp;увидим,
              что <acronym title="Search engine optimization" lang="en">SEO</acronym>&nbsp;&mdash;
              это не&nbsp;то, что может помочь вашему бизнесу, сразу сообщим вам и&nbsp;порекомендуем
              другие средства продвижения.
          .unit
            h3 Точно знаем, что необходимо
            p.
              Мы&nbsp;не&nbsp;отвлекаемся на&nbsp;второстепенные факторы и&nbsp;уверенно
              движемся к&nbsp;конкретному результату. Конечно, сайт, занимающий первую
              позицию в&nbsp;топе, выглядит внушительно, но&nbsp;нельзя забывать о&nbsp;главной
              цели оптимизации&nbsp;&mdash; улучшении трафика и&nbsp;увеличении числа заявок.
          .unit
            h3 Ценим время
            p.
              Реализация стратегии <acronym title="Search engine optimization" lang="en">SEO</acronym>
              всегда занимает немало времени. Мы&nbsp;тщательно продумываем каждый этап работы,
              потому что знаем, что любые недочеты лучше пресекать в&nbsp;самом начале,
              нежели корректировать, когда стратегия уже запущена. Так мы&nbsp;экономим и&nbsp;ваше,
              и&nbsp;наше время.
          .unit
            h3 Поддерживаем
            p.
              На&nbsp;каждом этапе работы мы&nbsp;предоставляем нашим клиентам отчеты
              о&nbsp;выполненных задачах, а&nbsp;по&nbsp;завершении работы&nbsp;&mdash;
              рекомендации по&nbsp;поддержке. Это поможет проследить динамику развития сайта
              и&nbsp;скорректировать стратегию дальнешей работы.
          .clrfx
          
    .block.colorize
      p.
        Начните продвижение вашего сайта уже сегодня!
      p.btn-cont
        a(data-scrollTo="applyform" href="#").js-scrollTo.hover-btn
          span Оставить заявку
    .block.plain-text
      .wrapper
        h2 Сколько стоит поисковая оптимизация
        p.
          Цена услуги поисковой оптимизации складывается
          из&nbsp;оплаты труда специалистов. Кроме того,
          она варьируется в&nbsp;зависимости от&nbsp;конкурентности
          продвигаемых товаров и&nbsp;услуг.&nbsp;Поэтому в&nbsp;таких
          регионах, как Москва и&nbsp;<nobr>Санкт-Петербург</nobr> стоимость
          <acronym title="Search engine optimization" lang="en">SEO</acronym>
          будет выше, чем в&nbsp;других городах России.
        .teaser
          .ico
            img(src="images/icons/wallet.png")
          .info
            p.
              Типовой проект по&nbsp;<acronym title="Search engine optimization" lang="en">SEO</acronym>
              стоит от&nbsp;<strong>10&nbsp;000</strong> до&nbsp;<strong>70&nbsp;000</strong>&nbsp;рублей в&nbsp;месяц.
              Оплата происходит в&nbsp;конце месяца после предоставления отчета о&nbsp;проделанной
              работе и&nbsp;первых результатах.
          .clearfix
        //p.
          Узнать, будет ли SEO полезна вашему бизнесу и сколько будет стоить для вас эта услуга, можно, <a href="">отправив нам заявку</a>.
    
    .block.grey.plain-text
      .wrapper
        h2 Мы&nbsp;знаем особенности продвижения<br /> вашей сферы бизнеса
        p.
          У&nbsp;нас есть опыт продвижения сайтов в&nbsp;различных сегментах рынка и&nbsp;маркетинговые аудиты.
        p.
          Это значит, что мы&nbsp;уже хорошо знакомы с&nbsp;рыночной ситуацией и&nbsp;знаем ваших конкурентов: их&nbsp;стратегии, посещаемость, ключевые запросы, рекламную активность и&nbsp;бюджеты в&nbsp;различных сферах. А&nbsp;уже это поможет выстроить нашу собственную стратегию так, чтобы учесть все нюансы и&nbsp;расставить акценты правильно.
        ul
          li
            span Интернет-магазины
          li
            span Недвижимость
          li
            span Все для ремонта
          li
            span Мебель и предметы интерьера 
          li
            span Форекс и валютные операции 
          li
            span Химические средства
        ul
          li
            span Строительные компании
          li
            span Рестораны и загородные клубы
          li
            span Одежда и товары для дома 
          li
            span Бизнес-центры и ТРК
          li
            span Образовательные порталы
          li
            span Отдых и туризм
        .clearfix
    .block.plain-text
      .wrapper
        h2 Вы&nbsp;платите не&nbsp;за&nbsp;слова, а&nbsp;за&nbsp;конкретный результ
        .garanty.
          Гарантия ГРАФЕМА
        .info
          p.
            Мы&nbsp;предоставляем письменные гарантии результатов работы.
            При невыполнении обязательств, прописанных в&nbsp;договоре,
            мы&nbsp;возвращаем вам ваши деньги&nbsp;&mdash; потому что значение
            имеет только результат, а&nbsp;не&nbsp;обещания и&nbsp;заверения.
          p.
            На&nbsp;каждом этапе работы по&nbsp;<acronym title="Search engine optimization" lang="en">SEO</acronym>
            вы&nbsp;будете получать отчет, которые позволит проследить динамику
            работы и&nbsp;зафиксировать текущее состояние продвижения.
            Мы&nbsp;хотим, чтобы между нами и&nbsp;клиентом не&nbsp;оставалось
            недосказанностей и&nbsp;на&nbsp;каждый возникающий вопрос
            вы&nbsp;получали своевременный ответ.
    .block.grey.apply-cont(data-scrollName="applyform")
      .wrapper
        h2 Форма заявки
        p.sub-header Заполните форму заявки — мы свяжемся с вами в течение двух рабочих часов.
        form(id="applyform" action="json/test.json").apply-form
          .apply-table
            .table-row
              .table-col Представтесь
              .table-col
                input(name="name").us-input
            .table-row
              .table-col Контактный телефон
              .table-col
                input(name="").us-input
            .table-row
              .table-col Электронная почта
              .table-col
                input(name="email").us-input
            .table-row
              .table-col Адрес вашего сайта
              .table-col
                input(name="").us-input
            .table-row
              .table-col Выберите набор услуг
              .table-col
                - var servs = ['Продвижение сайта','Контекстная реклама','Рекалама в социальных сетях (SMM)','Медийная реклама','Управление репутацией, SERM','Продвижение мобильных приложений','Юзабилити','Копирайтинг','Аудит сайта','SEO-консалтинг','Не знаю, посоветуйте','Другое']
                each serv, i in servs
                  .check-cont
                    input(type="checkbox" name="service" id="check-#{i}")
                    label(for="check-#{i}")
                      span #{serv}
            .table-row
              .table-col Ваши пожелания
              .table-col
                textarea(name="message" placeholder="Ключевые слова, сроки, способ связи с вами, регион оказания усуг и т.д.").us-input.js-auto
            .table-row
              .table-col Как вы узнали о нас
              .table-col
                select(name="howyouknow")
                  option Не указано
                  option 2
            .table-row
              .table-col 
              .table-col
                button(type="submit").hover-btn
                  span Оставить заявку
                .js-response-text.ajax-message
        p(style="display: none;").sub-header.js-final-response