extends layout

block vars
  - var header_class = 'header-white'

block content
  .support
    .top-caption
      .bar
      .teaser.
        <p>Сайты тоже нуждаются в&nbsp;постоянных изменениях,
        развитии и&nbsp;уходе. С&nbsp;нами ваши сайты будут
        чувствовать себя в&nbsp;полной безопасности.</p>
        
    .block.white.col-2
      .wrapper
        .row
          .unit 
            .p.
              Рано или поздно любой, даже самый продуманный, сайт необходимо обновлять
              и&nbsp;развивать. Пока вы&nbsp;наслаждаетесь его безупречным внешним видом,
              содержание сайта и&nbsp;его техническая платформа устаревают.
          .unit
            .p.
              Поддержка и&nbsp;сопровождение сайта призваны обеспечить
              его стабильную работу за&nbsp;счет своевременной диагностики
              и&nbsp;внесения изменений.
          .clrfx
          
    .block.grey.col-2.bordered
      .wrapper
        h2 Поддержка и сопровождение
        p.sub-header Существуют различные типы поддержки, которые мы готовы вам предложить.
        .row 
          .unit
            h3 Базовая техническая поддержка
            p.
              Обеспечивает работу и&nbsp;безопасность сайта 24 часа
              в&nbsp;сутки. Работа включает в&nbsp;себя аренду
              <nobr>хостинг-площадки</nobr>, резервное копирование баз
              данных и&nbsp;файлов проекта, мониторинг доступности
              и&nbsp;работоспособности сайта из&nbsp;<nobr>дата-центров</nobr>
              в&nbsp;России, Европе и&nbsp;США в&nbsp;зависимости от&nbsp;выбора Заказчика.
              Мы&nbsp;проследим, чтобы ваш сайт всегда был доступен,
              а&nbsp;информация&nbsp;&mdash; неприкосновенна.
          .unit
            h3 Контентная поддержка
            p.
              В&nbsp;работе с&nbsp;сайтами нельзя забывать об&nbsp;информационной
              динамике, которая требует своевременного обновления информации на&nbsp;сайте.
              Мы&nbsp;отслеживаем тренды и&nbsp;поведение конкурентов и&nbsp;задействуем
              инструменты по&nbsp;работе с&nbsp;контентом любого формата: тексты, инфографику,
              изображения и&nbsp;видео.
          .unit
            h3 Стратегическое развитие
            p.
              Комплексное сопровождение, создание стратегии
              <nobr>онлайн-присутствия</nobr>&nbsp;&mdash; наша любимая часть работы.
              Данный тип поддержки предполагает &laquo;взгляд со&nbsp;стороны&raquo;&nbsp;&mdash;
              оценку контента и&nbsp;анализ реакции пользователей на&nbsp;него, измерение эффективности
              и&nbsp;меры по&nbsp;оптимизации проектов. Мы&nbsp;работаем с&nbsp;любыми форматами, тематиками
              и&nbsp;инструментами и&nbsp;предлагаем собственные идеи по&nbsp;улучшению ваших проектов.
          .unit
            h3 Аналитическая поддержка
            p.
              Сбор и&nbsp;анализ статистической информации помогает понять,
              насколько эффективно работает сайт. Игнорировать эти показатели
              нельзя, как нельзя игнорировать пожелания и&nbsp;реакции своей целевой аудитории.
              Мы&nbsp;ежемесячно предоставляем вам отчеты о&nbsp;состоянии сайта и&nbsp;рекомендации,
              которые помогут в&nbsp;дальнейшей работе.
          .clrfx
          
    .block.colorize
      p.
        Уверенность в&nbsp;собственных силах&nbsp;&mdash; это всегда большой плюс, но&nbsp;некоторые вещи лучше доверить специалистам.
    
    .block.white.col-3
      .wrapper
        h2 Как мы обеспечиваем поддержку и развитие
        .row
          .unit
            h3 Неутомимость
            p.
              Мы&nbsp;реагируем на&nbsp;проблему в&nbsp;течение 15&nbsp;минут и&nbsp;готовы консультировать по&nbsp;работе сайта и&nbsp;решению проблем 24 часа в&nbsp;сутки.
          .unit
            h3 Индивидуальный подход
            p.
              Каждый проект курирует персональный менеджер отдела поддержки. Клиент вправе выбрать систему расчета. Мы&nbsp;заключаем договор на&nbsp;индивидуальных условиях.
          .unit
            h3 Прозрачность работы
            p.
              Мы&nbsp;предоставляем доступ в&nbsp;систему управления проектами, где отражены все текущие задачи и&nbsp;сроки их&nbsp;исполнения. Мы&nbsp;не&nbsp;скрываем от&nbsp;вас процесс ценообразования и&nbsp;предоставляем отчет на&nbsp;каждом этапе работы.
              